node_modules
npm-debug.log
Dockerfile
.dockerignore
.next
out
build
*.log
*.tsbuildinfo
*.tgz
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.swp
*.swo
*.bak
*.tmp
*.temp
*.DS_Store
.env
.env.local
.env.development
.env.test
.env.production